@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;600&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    width: 400px;
}

header {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.head-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px 50px 5px;
    background-color: #f2b636;
}
.search-book {
    display: flex;
    justify-content: space-between;
    margin: -15px 5px;
    padding: 10px 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.323);
}
.search-book input {
    border: none;
    color: #d6d6d6;
}
.search-book ::placeholder {
    color: #b5b4b4;
}

.li {
    font-size: larger;
    font-weight: 600;
    margin: 30px 0px 20px 0px;
}

.intro-book {
    margin: 0px 20px;
    font-size: medium;
    font-weight: 500;
}

.bookofday__main {
    display: flex;
}
.bookofday__book {
    background-color: lightblue;
    width: 200px;
    border-radius: 10px;
    margin: 0px 20px 0px 0px;
}
.bookofday .author {
    font-size: small;
    font-weight: 200;
    color: #b5b4b4;
    margin: -10px 0px 10px 0px;
}
.bookofday__tag {
    display: flex;
}
.bookofday__tag p {
    background-color: #b5b4b42c;
    padding: 7px 15px;
    border-radius: 10px;
    margin: 10px 10px;
    font-size: 15px;
    margin-left: auto;
}
.bookofday__mark {
    display: flex;
    flex-direction: row;
}

.bookofday__bookmark {
    width: 30px;
    height: 30px;
    background-color: #f2b636;
    border-radius: 50%;
    margin-right: 30px;
}
.bookofday__bookmark i {
    margin: 9px 9px;
}
.bookofday__booknow {
    margin-left: auto;
    background-color: #393737;
    padding: 7px 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: 200;

}


.topof__books {
    background-color: lightblue;
    width: 80px;
    height: 120px;
    border-radius: 10px;
    margin: 0px 20px 0px 0px;
    
}
.topof__list {
    display: flex;
    justify-content: space-between;
}

.popauthors__intro {
    display: flex;
}
.popauthors__book {
    background-color: lightblue;
    width: 30%;
    height: 120;
    border-radius: 10px;
}
.popauthors__article {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 20px;    
}
.popauthors__author {
    font-weight: 500;
    font-size: larger;
}
.popauthors__exp {
    font-weight: 200;
    font-size: small;
    color: #b5b4b4;
}