@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&family=Rubik:wght@300;400;500;700&display=swap');
/* 
font-family: 'DynaPuff', cursive;
font-family: 'Rubik', sans-serif; 
*/

body {
    display: flex;
    background: linear-gradient(90deg, #70d53d, #faf082);
    font-family: 'Rubik', sans-serif;
}

.box {
    width: 250px;
    height: 550px;
    margin: 50px 30px;
    padding: 5px 0px;
    background-color: rgb(237, 240, 242);
    border-radius: 20px;
    
}
.head-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 20px;
}


.playlist__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playlist__top img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.playlist__top__artist {
    font-family: 'DynaPuff', cursive;
    font-weight: 500;
    font-size: 25px;
    margin: 10px;
}
.playlist__top__them {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    margin: 0px;
    color: rgba(0, 0, 0, 0.445);
}

.playlist__mid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.playlist__mid div {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    margin: 20px 10px;
    padding: 0px 10px;
    font-size: 11px;
    
}
.playlist__shuffle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
}
.playlist__like {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(233, 235, 236);
}

.playlist__song {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    margin: 0px 10px;
    align-items: center;
    justify-content: space-between;
}
.playlist__song__front {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.playlist__song img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.playlist__songinfoartist {
    font-size: 10px;
    margin: 2px 10px;
}
.playlist__songinfoname {
    font-size: 15px;
    font-family: 'DynaPuff', cursive;
    margin: 2px 10px;
}
.playlist__song i {
    color: rgba(0, 0, 0, 0.415);
}
.now {
    background-color: aliceblue;
    border-radius: 10px;
}

.playlist__btm {
    background-color: rgb(12, 12, 12);
    /* width: 200px;
    height: 20px; */
    padding: 5px 20px;
    margin: 3px 10px;
    border-radius: 40px;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.playlist__btm__name {
    font-size: 10px;
    margin: 0;
    color: rgba(255, 255, 255, 0.484);
}
.playlist__btm__song {
    font-size: 15px;
    margin: 0;

    font-family: 'DynaPuff', cursive;

}
.playlist__btm__icon i{
    padding: 10px;
}


.playnow__album img{
    margin: 10px 30px;
    width: 190px;
    height: 190px;
    border-radius: 20px;
    -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(0,0,0,0), rgba(0,0,0,0.3));

}
.playnow__mid {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 10px;
}
.playnow__song {
    font-family: 'DynaPuff', cu
    rsive;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}
.playnow__name {
    font-family: 'Rubik', sans-serif;
    color: rgba(0, 0, 0, 0.445);
    font-size: 12px;
    margin: 5px;
}

.playnow_timebar {
    margin: 0px 15px;  
}
.playnow__time {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.445);
}
.playnow__bar {
    width: 100%;
    accent-color: black;
    height: 5px;
}