.badge {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.noti {
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}