
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(152, 147, 147, 0.474);
    

}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color: #2e363e;
    position: relative;
}
.nav__noti {
    left: 15px;
    bottom: 15px;
    position: absolute;
}

.nav__elli-noti {
    position: absolute;
    left: 25px;
    bottom: 25px;
}


